body {
    background-color: #07080C !important;
    background-image: url("../../img/bodybackground.png");

}

header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    color: #A5A5A6 !important;
    margin: 0 30px 0 30px;

}

header img {
    width: 80px;
    margin: 10px;
    
}

.logo {
    display: flex;
    align-items: center;
}


header nav ul {
    display: flex;
    
}

nav ul li {
    margin: 30px;
    list-style: none;
    text-transform: uppercase;
}



ul li a {
    text-decoration: none;
    color: #A5A5A6;
}

main {
    height: 500px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 2px 15px #007bff;
    border: solid #007bff 1px;
    border-radius: 30px;
    background-size: cover;
    background-position: left ;
    color: white;
    transition: 500ms;
    margin-top: 50px;

}

main:hover {
    box-shadow: 0 0 30px #007bff;
    border: blue;

}


.input-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 20px;
    
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
  }

  .login-container {
    padding: 20px;
    margin-top: -100px;
    border-radius: 5px;
    max-width: 600px;
    width: 100%;
  }

  .post {
    margin-bottom: 30px;
  }
  
  .post h2 {
    margin-top: 0;
  }
  
  .post-date {
    color: #888;
    margin-bottom: 10px;
  }
  
  .read-more {
    display: inline-block;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
  }
  .conteudo {
display: flex;
flex-wrap: wrap;
}

  .conteudo article {
    color: white;
    margin-top: 50px;
    width: fit-content;
    margin: 50px;
  }